@import url(//db.onlinewebfonts.com/c/513e00a92551c7f365c8d2d6cb475658?family=Helvetica+Neue);

@font-face {font-family: "Helvetica Neue"; src: url("//db.onlinewebfonts.com/t/513e00a92551c7f365c8d2d6cb475658.eot"); src: url("//db.onlinewebfonts.com/t/513e00a92551c7f365c8d2d6cb475658.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/513e00a92551c7f365c8d2d6cb475658.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/513e00a92551c7f365c8d2d6cb475658.woff") format("woff"), url("//db.onlinewebfonts.com/t/513e00a92551c7f365c8d2d6cb475658.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/513e00a92551c7f365c8d2d6cb475658.svg#Helvetica Neue") format("svg"); }


*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

div {
  font-family: "Helvetica Neue";
  font-size: 15pt;
}

html, body {
  font-size: 62.5%;
  height: 100%;
}

body {
  background: #63BDF7;
  overflow: hidden;
}

.demo {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #F6F6F5;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.demo__header {
  height: 6rem;
  font-size: 28pt;
  text-align: center;
  color: white;
  z-index: 1000;
}
.demo__content {
  overflow: hidden;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.demo__card-cont {
  position: relative;
  height: 70rem;
}
.demo__card {
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  visibility: hidden;
}
.demo__card.reset {
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-transform: translateX(0) !important;
          transform: translateX(0) !important;
}
.demo__card.reset .demo__card__choice {
  transition: opacity 0.3s;
  opacity: 0 !important;
}
.demo__card.inactive {
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.demo__card.to-left {
  -webkit-transform: translateX(-30rem) rotate(-30deg) !important;
          transform: translateX(-30rem) rotate(-30deg) !important;
}
.demo__card.to-right {
  -webkit-transform: translate(30rem) rotate(30deg) !important;
          transform: translate(30rem) rotate(30deg) !important;
}
.demo__card.below {
  z-index: 1;
}
.demo__card__top {
  height: 50vh;
  padding-top: 1vh;
}
.demo__card__top.purple {
  background: #7132B9;
}
.demo__card__top.blue {
  background: #248CB6;
}
.demo__card__top.indigo {
  background: #303F9F;
}
.demo__card__top.cyan {
  background: #26C6DA;
}
.demo__card__top.lime {
  background: #00ffc7;
}
.demo__card__top.brown {
  background: #795548;
}
.demo__card__img {
  overflow: hidden;
  height: 50rem;
  margin: 0 auto 1.5rem;
  border: 0.5rem solid #ffffff;
  background-size: cover;
  margin-top: 0vh;
}
.demo__card__name {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
}
.demo__card__btm {
  height: 100%;
  background: #ffffff;
}


.demo__card__we {
  text-align: left;
  vertical-align: middle;
  font-size: 1.5rem;
  color: black;
}
.demo__card__loc {
  text-align: left;
  vertical-align: middle;
  font-size: 1.5rem;
  color: black;
}
.demo__card__choice {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.demo__card__choice:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 2rem;
  height: 2rem;
  margin-left: -1rem;
  color: #fff;
  border-radius: 50%;
  box-shadow: -2rem -3rem #fff, 2rem -3rem #fff;
}
.demo__card__choice:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 4rem;
  height: 1.5rem;
  margin-left: -2rem;
  border: 0.6rem solid #fff;
  border-bottom: none;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
}
.demo__card__choice.m--reject {
  background: #FF945A;
}
.demo__card__choice.m--like {
  background: #B1DA96;
}
.demo__card__choice.m--like:after {
  -webkit-transform: scaleY(-1);
          transform: scaleY(-1);
}
.demo__card__drag {
  z-index: 5;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  cursor: -webkit-grab;
  cursor: grab;
}
.demo__tip {
  text-align: center;
  font-size: 2.2rem;
}

.icon__POI {
  background-image: url("images/POI.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 15px;
  height: 20px;
  float:left;
}
.icon__Tour {
  background-image: url("images/route.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 15px;
  height: 20px;
  float:left;
}
.icon__Events {
  background-image: url("images/Sports.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 15px;
  height: 20px;
  float:left;
}
.icon__Gastro {
  background-image: url("images/Restaurant.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 15px;
  height: 20px;
  float:left;
}

.icon__Question {
  background-image: url("images/lampe.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 15px;
  height: 20px;
  float:left;
}
.icon__Hotels {
  background-image: url("images/hotel.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 15px;
  height: 20px;
  float:left;
}

.icon__loc {
  background-image: url("images/Standort.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 15px;
  height: 20px;
  float:left;
}

.demo__card__descr {
  color: #00c1a7;
  font-size: 1.8rem;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  border: 0.2rem solid #00ffc7;

}

.demo__card__ftr {
  background-color: #006072;
  height: 50px;
}

.endscreen__content {
  overflow: hidden;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.endscreen__card-cont {
  position: relative;
  height: 75rem;
}

.endscreen__card {
  z-index: 2;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 10%;
  text-align: center;
  overflow:hidden;
  clear: both;
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
}

.endscreen__card__catimage {
	width: 55px;
	overflow: auto;
	z-index: 10;
	position: absolute;
	left:5px;
	top: 5px;
}

.endscreen__card__image {
	display: inline-block;
	height: 80%;
	width: 60%;
	position: relative;
	overflow: auto;
	z-index: 10;
}

.endscreen__card__imageimage {
	width: 100%;
	height:80%;
	clear: both;
	z-index: 10;
	background-image: url("images/Garten_schönes_Foto.jpg");
	background-position: center, center;
	background-size: cover;
	float: left;
	clear: both;
}

.endscreen__card__imagetext {
	width: 100%;
	float:left;
	overflow: auto;
	z-index: 10;
	font-size: 12px;
	text-align:left;
}
.endscreen__card__price {
	font-size: 16px;
	height: 80%;
	overflow: auto;
	z-index: 10;
	position: absolute;
	right:5px;
	top: 5px;
}

.endscreen__footer {
 z-index: 2;
 position: relative;
 float:right;
 width: 100%;
 text-align: right;
 overflow:hidden;
 clear: both;
 font-size: 16px;
 -webkit-transform-origin: 50% 100%;
         transform-origin: 50% 100%;
}

.endscreen__header {
 z-index: 2;
 position: relative;
 float:left;
 width: 100%;
 text-align: left;
 overflow:hidden;
 clear: both;
 font-size: 16px;
 -webkit-transform-origin: 50% 100%;
         transform-origin: 50% 100%;
}